<footer>
    <div class="container">
        <div class = "footer-content">
            <div class="footer-column">
            <h3> About us</h3>    
            <p>
    At our website, we combine food with the convenience of online ordering. With just a few clicks. you can select your favourite dishes , and have them delievered right to your doorstep.
            </p> </div>
    
            <div class="footer-column">
                <h3>Contact</h3>
                <p>123 Main Str. <br> Anytown, Kosovo, 12345 <br> Email: order@Restaurantista.org <br> Phone: 555-4567-7894</p>
                
            </div>
            <div class="footer-column">
                <img src="photos/restaurantista-logo.jpg" alt="Logo" class="footer-logo">
    
                <h3>Follow us</h3>
            
            <div class="social-media-icons">
                <h3>Contact</h3>
                <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
                <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
            </div>
            </div>
        </div>
        <p class ="footer-bottom">2023 Restaurantista, all rights reserved to Webdevs 10/23</p>
    </div>
   
    </footer>
    <link rel="stylesheet" href="templates/footer-template.css">
    
