<header>
    <nav>
        
        <div class = "logo"><a href="#"><img src="photos/restaurantista-logo.jpg" alt = "This is a logo photo"></a></div>
        <div class = "nav-links"><ul><li><a href = "index.html">Home</a></li><li><a href = "menu.html">Menu</a></li></ul></div>
        <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
    <div class="line3"></div></div>
         
    </nav>
</header>

<link rel="stylesheet" href="templates/header-template.css">


<script>
    
const burger = document.querySelector('.burger');
const nav = document.querySelector('.nav-links');
const lines = document.querySelectorAll('.burger div');

// Toggle nav
burger.addEventListener('click', () => {
    nav.classList.toggle('nav-active');

    // Burger animation
    lines.forEach((line, index) => {
        if (line.style.transform === '') {
            line.style.transform = 'none';
        }
        line.classList.toggle('line-animation');
    });
});
</script>